/*
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

font-family: 'PT Sans', sans-serif;
<style>
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
</style>
*/

/*--------MOBILE SIZE--------*/
/*--------MOBILE SIZE--------*/
/*--------MOBILE SIZE--------*/
* {
  font-family: 'PT Sans', sans-serif;
}

body {
  margin: 0;
}
/*--------HEADING--------*/
/*--------HEADING--------*/
.main-heading {
  display: flex;
  flex-flow: row nowrap;
}

.main-heading > nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 73%;
}

.main-heading a {
  text-align: center;
  width: 100%;
  height: 33%;
  text-decoration: none;
  color: white;
  padding-top: 5px;
  font-size: 12px;
}

.main-heading a:nth-child(1) {
  background-color: #00A5BF;
}
.main-heading a:nth-child(2) {
  background-color: #00B7D3;
}
.main-heading a:nth-child(3) {
  background-color: #00D5E7;
}

.logo {
  background-image: url("../images/filmclub.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 90%;
  width: 90%;
  margin: 5px 0px 0px 5px;
}

.logo-container {
  background-color: #F5005B;
  height: 90px;
  width: 27%;
}
/*--------HOME--------*/
/*--------HOME--------*/
#get-involved-title {
  font-weight: lighter;
  padding-left: 5px;
}

.get-involved-text > div > h3{
  background-color: #0B1942;
  color: white;
  font-weight: lighter;
  padding-left: 10px;
}

.get-involved-text > div > p {
  text-align: left;
  padding: 0px 5px 0px 5px;
}

#up-next {
  background-color: #0B1942;
  padding-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#up-next-title {
  color: white;
  font-weight: lighter;
  padding-left: 10px;
  margin-bottom: 0px;

}

#main-up-next {
  background-color: #E2E2E2;
  margin: 10px;
  padding: 0px 10px 0px 10px;
}

#rashomon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#rashomon-img-wrapper {
  height: 250px;
  width: 50%;
}

#rashomon-img {
  background-image: url("../images/rashomon-poster.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  margin-top: 15px;
  margin-left: -10px;
  width: 100%;
}

#rashomon-details {
  width: 50%;
  margin-top: -5px;
}

#rashomon-details > ul {
  list-style: circle;
  margin-left: -20px;
}

#rashomon-details > h5 {
  transform: translateY(-15px);
  font-weight: lighter;
  margin-bottom: -5px;
}

#rashomon-details > h4 > a {
  color: #00D5E7;
  font-weight: lighter;
  font-size: 20px;
}

.sub-up-next {
  background-color: #E2E2E2;
  margin: 10px;
  padding: 0px 10px 0px 10px;
}

.sub-top-row {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 15px;
}

.sub-bottom-row {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 15px;
}

#robbery {
  display: flex;
  flex-flow:column nowrap;
  width: 50%;
}

#robbery-image-wrapper {
  width: 95%;
}

#robbery-image {
  width:100%;
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/great-train-poster.jpg");
}

#robbery-details > h5 {
  margin: 0px;
  font-weight: lighter;

}

#robbery-details > h5 > a {
  color: #00D5E7;
}

#theif {
  display: flex;
  flex-flow:column nowrap;
  width: 50%;
}

#theif-image-wrapper {
  width: 95%;
}

#theif-image {
  width:100%;
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/bicycle-thief-poster.jpg");
}

#theif-details > h5{
  margin: 0px;
  font-weight: lighter;
}

#theif-details > h5 > a {
  color: #00D5E7;
}

#nosferatu {
  display: flex;
  flex-flow:column nowrap;
  width: 50%;
}

#nosferatu-image-wrapper {
  width: 95%;
}

#nosferatu-image {
  width:100%;
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/nosferatu-poster.jpg");
}

#nosferatu-details > h5 {
  margin: 0px;
  font-weight: lighter;
}

#nosferatu-details > h5 > a {
  color: #00D5E7;
}

#metropolis {
  display: flex;
  flex-flow:column nowrap;
  width: 50%;
}

#metropolis-image-wrapper {
  width: 95%;
}

#metropolis-image {
  width:100%;
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/metropolis-poster.jpg");
}

#metropolis-details > h5 {
  margin: 0px;
  font-weight: lighter;
}

#metropolis-details > h5 > a {
  color: #00D5E7;
}
/*--------JOIN--------*/
/*--------JOIN--------*/
#join-film-club {
  padding-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#join-film-club > h2 {
  font-weight: lighter;
  margin-bottom: -10px;
}

#profile {
  margin-bottom: -50px;
}

#profile-pic {
  background-image: url("../images/profile-placeholder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 82%;
  width: 90%;
  margin: 5px 0px 0px 10px;
  border-radius: 200px;
}

#profile-pic-container {
  height: 400px;
  width: 365px;
  padding-top: 10px;
}

#profile-pic-upload > h6 {
  font-weight: lighter;
  margin-bottom: 0px;
}

#name-email {
  width: 98%;
}

#name {
  display: flex;
  flex-flow: column nowrap;
}

#email {
  display: flex;
  flex-flow: column nowrap;
}

#password-confpassword {
  width: 98%;
}

#password {
  display: flex;
  flex-flow: column nowrap;
}

#confpassword {
  display: flex;
  flex-flow: column nowrap;
}

#checklist-container {
  display: flex;
  flex-flow:column nowrap;
}

#join-button > input {
  background-color: #F5005B;
  text-align: center;
  width: 27%;
  height: 40px;
  color: white;
  border-style: none;
}
#additional-input > textarea {
  width: 98%;
}


/*--------FOOTING--------*/
/*--------FOOTING--------*/
.main-footing > nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.main-footing a:nth-child(1) {
  background-color: #00A5BF;
}
.main-footing a:nth-child(2) {
  background-color: #00B7D3;
}
.main-footing a:nth-child(3) {
  background-color: #00D5E7;
}

.main-footing a {
  text-align: center;
  width: 97%;
  height: 33.3%;
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 12px;
}

.copyright {
  background-color: #7DDFE8;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-size: 12px;
}

/*--------CALENDAR--------*/
/*--------CALENDAR--------*/
#calendar > h2 {
  font-weight: lighter;
  padding-left: 10px;
}

#calendar-container {
  background: #0B1942;
  color: white;
  padding-bottom: 2%;
}

#calendar-container > h3 {
  padding: 20px 0% 0% 10px;
  font-weight: lighter;
}

#day13, #day27 {
  background:#F5005B;
}

.day {
  background-color: black;
  width: 25%;
  height: 25%;
  text-align: center;
  transform: translateY(-25px);
}

#week1, #week2, #week3, #week4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
}

#week5 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: white;
  width: 42.9%;
}

#week1 > *  {
  width:14.3%;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

#week2 > *  {
  width:14.3%;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

#week3 > *  {
  width:14.3%;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

#week4 > *  {
  width:14.3%;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

#week5 > *  {
  width:33.3%;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

/*--------TABLET SIZE--------*/
/*--------TABLET SIZE--------*/
/*--------TABLET SIZE--------*/
@media (min-width:545px) {
/*--------HEADING--------*/
/*--------HEADING--------*/
  .main-heading > nav {
    flex-flow: row nowrap;
    width: 80%;
  }

  .main-heading a {
    width: 25%;
    padding: 27px 0px 33px 0px;
  }

  .logo-container {
    width: 20%;
  }

  #blank-space {
    width: 50%;
    background-color: #7DDFE8;
  }
  /*--------HOME--------*/
  /*--------HOME--------*/
  .get-involved-text {
    display: flex;
    flex-flow: row nowrap;
  }

  .get-involved-text > div {
    margin: 0px 10px 0px 10px;
    width: 33%;
  }

  #get-involved-title {
    margin-bottom: 0px;
  }

  #rashomon-img {
    height: 320px;
  }

  #rashomon-img-wrapper {
    height: 350px;
  }

  #rashomon-details {
    text-align: left;
  }

  .sub-up-next {
    display: flex;
    flex-flow:row nowrap;
    padding: 0px 5px 0px 10px;
  }

  .sub-top-row {
    width: 50%;
  }

  .sub-bottom-row {
    width: 50%;
  }

  #robbery-image-wrapper {
    margin-top: -20px;
  }

  #robbery-details {
    margin-top: -30px;
  }

  #theif-image-wrapper {
    margin-top: -20px;
  }

  #theif-details {
    margin-top: -30px;
  }

  #nosferatu-image-wrapper {
    margin-top: -20px;
  }

  #nosferatu-details {
    margin-top: -30px;
  }

  #metropolis-image-wrapper {
    margin-top: -20px;
  }

  #metropolis-details {
    margin-top: -30px;
  }

  /*--------JOIN--------*/
  /*--------JOIN--------*/
  #profile {
    width: 50%;
    margin-right: -25px;
  }

  #profile-pic {
    height: 75%;
    width: 79%;
    margin: 5px 0px 0px 10px;
    border-radius: 200px;
  }

  #profile-pic-container {
    width: 100%;
    height: 300px;
  }

  .join-top-half {
    display: flex;
    flex-flow: row nowrap;
  }

  #join-form {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 25px;
    width: 50%;
  }

  #join-form > div > div {
    margin-bottom: 10px;
  }

  #password-confpassword {
    margin-top: 50px;
  }


  #checklist-container {
    display: flex;
    flex-flow:column wrap;
    height: 250px;
  }

  #join-button > input {
    width: 20%;
  }

  /*--------FOOTING--------*/
  /*--------FOOTING--------*/
  .main-footing > nav {
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
  }

  .main-footing a {
    width: 10%;
    padding: 34px 0px 33px 0px;
  }

  .copyright {
    width: 70%;
    text-align: right;
    padding: 30px 10px 0px 0px;
  }

}

/*--------DESKTOP SIZE--------*/
/*--------DESKTOP SIZE--------*/
/*--------DESKTOP SIZE--------*/
@media (min-width:769px) {

/*--------HEADING--------*/
/*--------HEADING--------*/
  .logo-container {
    width: 15%;
  }

  .main-heading > nav{
    width: 85%;
  }

  .main-heading > nav > a{
    width: 15%;
    height: 23px;
  }

  #blank-space {
    width: 85%;
  }
  /*--------HOME--------*/
  /*--------HOME--------*/
  #up-next {
    flex-flow: row wrap;
  }

  #main-up-next {
    width: 45%;
    height: 250px;
  }

  #up-next-title {
    width: 100%;
  }

  #rashomon-img {
    height: 220px;
  }

  #rashomon-img-wrapper {
    height: 250px;
  }

  .sub-up-next {
    width: 45%;
    flex-flow: column nowrap;
  }

  .sub-top-row {
    width: 95%;
    padding: 30px 0px 0px 10px;
  }

  .sub-bottom-row {
    width: 95%;
    padding: 15px 0px 15px 10px;
  }

  #robbery-details {
    margin: 0px 0px 10px 0px;
  }

  #theif-details {
    margin: 0px 0px 10px 0px;
  }

  #nosferatu-details {
    margin: 0px 0px 10px 0px;
  }

  #metropolis-details {
    margin: 0px 0px 10px 0px;
  }
  /*--------CALENDAR--------*/
  /*--------CALENDAR--------*/
  #week1 > div {
    height: 90px;
  }
  #week2 > div {
    height: 90px;
  }
  #week3 > div {
    height: 90px;
  }
  #week4 > div {
    height: 90px;
  }
  #week5 > div {
    height: 90px;
  }

  .main-heading a {
    width: 25%;
    padding: 34px 0px 33px 0px;
  }

  /*--------JOIN--------*/
  /*--------JOIN--------*/
  #checklist-container {
    display: flex;
    flex-flow:column wrap;
    height: 160px;
  }

  #profile {
    width: 40%;
  }

  #profile-pic-container {
    height: 300px;
    width: 300px;
  }

  #join-form {
    display: flex;
    flex-flow:row nowrap;
    width: 60%;
  }

  #name-email {
    width: 50%;
  }

  #password-confpassword {
    width: 50%;
    margin: 0px 0px 0px 10px;
  }

  #join-button > input {
    width: 15%;
  }
}
